:root {
  --buttons-height: 2em;
  --slide-width: 1200px;
  --slide-height: 675px;
  --text-size: 18pt;
  --code-size: 16pt;
  font-family: "DejaVu Sans" ;
  line-height: 2.15em;
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
}

html {
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
}

body {
  transform: translateY( calc( var(--buttons-height) * -1) );
  margin: 0 auto;
  width: 100%;
  max-width: var(--slide-width);
  height: 100%;
  max-height: var(--slide-height);
}

div {
  transform: translateY( calc( var(--buttons-height) * -2) );
}

pre, code, ul, li {
  text-align: left;
  align: left;
  font-size: var(--code-size);
}

pre {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: "DejaVu Sans Mono";
  font-weight: bold;
  color: gainsboro;
}

pre::before {
  content: "devscola@devscola $ ";
  color: green;
}

pre.client::before {
  content: "user@localhost $ ";
  color: green;
}

code {
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  background-color: gray;
  color: yellow;
  padding: 0.25em 0.5em;
  max-width: 100%;
  display: block;
  overflow: auto;
  word-wrap: break-word;
  page-break-inside: avoid;
}

h1 {
  line-height: 2.15em;
}

p {
  font-size: var(--text-size);
}

a {
  font-size: var(--text-size);
  color: green;
}

div.documentation {
  column-count: 2;
  column-width: 50%;
}

div.documentation a {
  text-decoration: underline dotted yellow;
  font-size: var(--code-size) ;
  color: white;
}

div.index a {
  text-decoration: underline dotted yellow;
  font-size: var(--code-size) ;
  color: white;
}

div.buttons {
  transform: translateY( calc( var(--buttons-height) + var(--slide-height) ) );
  display: flex;
  justify-content: center;
}

div.buttons a {
  text-decoration: none;
  font-size: var(--buttons-height) ;
  color: cyan;
}

div.buttons a:first-child {}

div.buttons a:last-child {}

div.buttons a:nth-child(2) {
  padding-left: calc( var(--buttons-height) / 2 );
  padding-right: calc( var(--buttons-height) / 2 );
  padding-top: calc( ( var(--buttons-height) / 2 ) * 0.25 );
  font-size: calc( ( var(--buttons-height) / 2 ) * 0.75 );
  color: aquamarine;
}
